* {
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, 
    #000428, 
    #004e92 )
}

.main {
    display: flex;
    color: white;
    width: 100%;
    height: 100%;
}

img {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    border-radius: 40px;
}

.form-space {
    display: flex;
    flex-wrap: wrap;
}

#introduction-text {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

form {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}


.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    align-items: center;
    justify-content: center;
    opacity: 80%;
}

label {
    padding-bottom: 10px;
}

button {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

button:focus {
    outline: none;
}

button{
    background-image: linear-gradient(to right,
            #6253e1,
            #852d91,
            #a3a1ff,
            #f24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

@media (max-width: 600px) {

    img {
        display:none;
    }

    body{
       background-color: #000428;
       background-image:url("fotos/2125.jpg");
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
    }



}
